.nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    text-align: center;
    background: #36ac51;
    font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #36ac51;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(216, 210, 17);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(126, 150, 29);
}

.logo {
    width: 10%;
}

.features {
    list-style: none;
    display: inline-flex;
}

.page {
    text-align: center;
}

.ingredient-entry {
    display: inline-flex;
    align-items: center;
    margin-right: 14%;
}